doctype html
html lang="ja"
  head
    script src="https://apps.paidy.com/"
    title BeSHOP：Paidyお支払い
    meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="LINEのトーク画面にネットショップ開設！LINEで決済まで完結！チャットコマースならBeSHOP。BeSHOPは、LINE公式アカウント（LINE@）のトーク画面に、かんたんにネットショップを開設できるクラウドサービスです。" /

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    controller.controller_name, media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    .container
      == yield
