// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#size_products {
  display: none;
}
div.field{
	position: relative;
	span {
		position: absolute;
		color: #FF0000;
		font-weight:bold;
	}
}
div.flex_box{
  display: flex;
}
