= form_for @bank_transfer_info, url: bank_transfer_info_path do |f|

  - if @bank_transfer_info.errors.any?
    #error_explanation
      p = prohibited_message(@bank_transfer_info.errors)

      ul.alert-danger
        - @bank_transfer_info.errors.full_messages.each do |message|
          li = message

  .field.form-group
    = f.label :enable_flg, t('activerecord.attributes.bank_transfer_info.enable_flg'), class: 'checkbox'
    = f.check_box :enable_flg

  .actions
    - if controller.action_name == 'edit'
      button.btn.btn-primary type="submit" Update
    - else
      button.btn.btn-primary type="submit" Create
    = link_to 'Back', products_path, class: ['btn', 'btn-default', 'ml-1']
