h1
  = image_tag('lp/Beshop_logo_tmp.png', class: 'img-responsive center-block mb-20' )
.bg-success
  p.text-center
    'トーク中のLINE公式アカウントと連携が出来ました。
    br
    '左上の
    span.glyphicon.glyphicon-remove
    'を押してトークを再開して下さい。
